# By default, require reviews from the maintainers for all files.
* @zombiegirlcz/gemini-cli-maintainers

# Require reviews from the release approvers for critical files.
# These patterns override the rule above.
/package.json @zombiegirlcz/gemini-cli-askmode-approvers
/package-lock.json @zombiegirlcz/gemini-cli-askmode-approvers
/renegade.md @zombiegirlcz/gemini-cli-askmode-approvers
/SECURITY.md @zombiegirlcz/gemini-cli-askmode-approvers
/LICENSE @zombiegirlcz/gemini-cli-askmode-approvers
/.github/workflows/ @zombiegirlcz/gemini-cli-askmode-approvers
/packages/cli/package.json @zombiegirlcz/gemini-cli-askmode-approvers
/packages/core/package.json @zombiegirlcz/gemini-cli-askmode-approvers

# Docs have a dedicated approver group in addition to maintainers
/docs/ @zombiegirlcz/gemini-cli-maintainers @zombiegirlcz/gemini-cli-docs
